/* responsividade */

@media screen and (max-width: 950px) {
    .cont-img {
        display: none;
    }

    .principal-container {
        justify-content: center;
    }

    .form-send-email,
    .form-send-code,
    .form-send-password {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .principal-container {

        background-color: #8a2be2;
    }

    .form-send-email,
    .form-send-code,
    .form-send-password {
        background-color: #fff;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        height: 85vh;
    }

    .form-password-container,
    .form-code-container,
    .form-email-container {
        width: 75%;
        justify-content: center;
    }

    nav {
        height: 15vh;
        background-color: blueviolet;
        align-content: center;
    }

    .zelos-name {
        color: #fff;
        font-size: 2rem;
    }
}