@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

/* fontes */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/* fontes */
@font-face {
  font-family: 'Plus Jakarta Sans Bold';
  /* src: url('../components/Fonts/PlusJakartaSans-Bold.ttf') format('truetype'); */
  src: url('../components/Fonts/PlusJakartaSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Plus Jakarta Sans SemiBold';
  src: url('../components/Fonts/PlusJakartaSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Plus Jakarta Sans Medium';
  src: url('../components/Fonts/PlusJakartaSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Plus Jakarta Sans Regular';
  /* src: url('../components/Fonts/PlusJakartaSans-Regular.ttf') format('truetype'); */
  src: url('../components/Fonts/PlusJakartaSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Plus Jakarta Sans Light';
  src: url('../components/Fonts/PlusJakartaSans-Light.ttf') format('truetype');
}
/* corpo do site */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: fit-content;
  width: 100%;
  align-items: center;
}

html, body {
  margin: 0;
  padding: 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

html{
  align-items: center;
}