.page{
    margin-left: 15%;
}
.page .title{
    font-size: 2rem;
    font-family: "Plus Jakarta Sans Bold";
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 3%;
}
.page .limpeza h1{
     font-size: 1.5rem;
    font-family: "Plus Jakarta Sans Bold";
    padding-left: 45%;
    width: 100%;
}
.page .limpeza{
    width: 80%;
}
.linha{
    border-bottom:  2px solid #7761A9;
    width: 100%;
    height: 5%;
    padding-top: 0.3%;
    margin-bottom: 0.3%;
}
.page .externo h1{
    font-size: 1.5rem;
    margin-top: 6%;
   font-family: "Plus Jakarta Sans Bold";
   padding-left: 45%;
   width: 100%;
}
.page .externo{
   width: 80%;
}
.page .manutencao h1{
    font-size: 1.5rem;
    margin-top: 6%;
   font-family: "Plus Jakarta Sans Bold";
   padding-left: 43%;
   width: 100%;
}
.page .manutencao{
   width: 80%;
}

.page .apoio h1{
    font-size: 1.5rem;
    margin-top: 6%;
   font-family: "Plus Jakarta Sans Bold";
   padding-left: 42.5%;
   width: 100%;
}
.page .apoio{
   width: 80%;
}